[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Session = "*"
flask-login = "*"
python-dotenv = "*"
flask-mail = "*"
flask-restx = "*"
flask-wtf = "*"
sqlalchemy = "==1.3.23"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
pytest-benchmark = "*"
tox = "*"
watchdog = "*"
faker = "*"

[requires]
python_version = "3"
